@import './components/index.css';
@import './template/index.css';
@import './vendors/index.css';
@import './tailwind/index.css';

/* @import '~react-image-gallery/styles/css/image-gallery.css'; */

.hide-scrollbar {
    -ms-overflow-style: none; /* IE va Edge */
    scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

/* Telegram WebApp uchun scroll tuzatish */
.overflow-y-auto {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;
}
